div {
  padding: 40px;
  border: 3px solid black;
  width: 200px;
  height: auto;
  margin: 20px;
}

.top, .middle, .bottom {
  background: url(../images/duck.png) no-repeat;
}

.middle{
  background-position: center;
}

.bottom {
  background-position: bottom right;
}
