body {
  margin: 0px;
  font-family: 'Merriweather', Serif;
}
article {
  margin-left: auto;
  margin-right: auto;
  width: 650px;
  font-weight: 400px;
  line-height: 1,8px;
}
img {
  width: 100%;
}
h1 {
  color: #222222;
  text-align: center;
  font-weight: bold;
  margin-bottom: 5px;
}
h2 {
  color: #d3d3d3;
  margin-top: 5px;
  text-align: center;
}
a {
  font-weight: bold;
  color: black;
}
