.* {
  font-family: Helvetica;
}
.wraper {
  width: 620px;
  margin: auto;
  background-color: silver;
  padding: 100px;
}
.upperpart {
  display: flex;
  justify-content: space-between;
}
p {
  height: 10px;
  padding: 15px 15px;
  margin: 0px;
  background-color: grey;
  color: white;
  border-radius: 2px;
}
.lines {
  width: 300px;
  margin-bottom: 20px;
  height: 25px;
}
.birthyear {
  width: 80px;
}
.birthsex {
  display: flex;
  justify-content: space-between;
}
.left {
  margin-right: 20px;
}
.sex {
  display: block;
  width: 150px;
}
.like1 {
  display: flex;
  flex-flow: column;
  flex-grow: 1
}
.like1 label {
  margin: 4px 0px;
}
.like {
  display: flex;
  justify-content: space-between;
}
input {
  border-radius: 2px;
}
.down {
  display: block;
}
.textarea {
  width: 620px;
  height: 170px;
}
.footer {
  display: flex;
}
.clear {
  justify-content: flex-end;

}
